USE [S1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCheckingTask](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [varchar](200) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[TaskTypeId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[FinishDate] [date] NULL,
	[CreateTime] [datetime] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_InventoryPlan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Unit] [varchar](50) NOT NULL,
	[Specification] [varchar](100) NULL,
	[MinInventory] [int] NOT NULL,
	[MaxInventory] [int] NOT NULL,
 CONSTRAINT [PK_Part] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartCategory](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PartCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartStorage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartId] [int] NOT NULL,
	[ZoneId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_PartStorage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Telephone] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[RoleId] [int] NOT NULL,
	[Photo] [varchar](50) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[PartId] [int] NOT NULL,
	[StockAmount] [int] NOT NULL,
	[CheckAmount] [int] NULL,
	[IsChecked] [int] NOT NULL,
 CONSTRAINT [PK_InventoryPlanDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatus](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_InventoryPlanStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskType](
	[Id] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PlanType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](500) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[Manager] [int] NOT NULL,
	[Area] [int] NOT NULL,
 CONSTRAINT [PK_Warehouse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zone](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[UpperLeftX] [int] NOT NULL,
	[UpperLeftY] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
 CONSTRAINT [PK_Zone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InventoryCheckingTask] ON 

INSERT [dbo].[InventoryCheckingTask] ([Id], [TaskName], [WarehouseId], [TaskTypeId], [StartDate], [FinishDate], [CreateTime], [StatusId]) VALUES (1, N'Inventory Checking Task of Spring Warehouse, 2021-09', 1, 1, CAST(N'2021-09-01' AS Date), CAST(N'2021-09-01' AS Date), CAST(N'2021-09-01T08:00:00.000' AS DateTime), 3)
INSERT [dbo].[InventoryCheckingTask] ([Id], [TaskName], [WarehouseId], [TaskTypeId], [StartDate], [FinishDate], [CreateTime], [StatusId]) VALUES (2, N'Inventory Checking Task of Speed Warehouse,2021-09', 2, 1, CAST(N'2021-09-01' AS Date), CAST(N'2021-09-02' AS Date), CAST(N'2021-09-01T08:00:00.000' AS DateTime), 3)
INSERT [dbo].[InventoryCheckingTask] ([Id], [TaskName], [WarehouseId], [TaskTypeId], [StartDate], [FinishDate], [CreateTime], [StatusId]) VALUES (3, N'Inventory Checking Task of Fareast Warehouse,2021-09', 3, 1, CAST(N'2021-09-01' AS Date), CAST(N'2021-09-03' AS Date), CAST(N'2021-09-01T08:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[InventoryCheckingTask] OFF
SET IDENTITY_INSERT [dbo].[Part] ON 

INSERT [dbo].[Part] ([Id], [CategoryId], [Name], [Unit], [Specification], [MinInventory], [MaxInventory]) VALUES (1, 1, N'Jaw Crusher Adjusting Device', N'Part', N'85', 100, 1000)
INSERT [dbo].[Part] ([Id], [CategoryId], [Name], [Unit], [Specification], [MinInventory], [MaxInventory]) VALUES (2, 1, N'High Chromium Alloy Blades', N'Part', N'600/800', 30, 1000)
INSERT [dbo].[Part] ([Id], [CategoryId], [Name], [Unit], [Specification], [MinInventory], [MaxInventory]) VALUES (3, 1, N'Custom Accessories For Rock Drill', N'Part', N'Customization', 30, 1000)
SET IDENTITY_INSERT [dbo].[Part] OFF
INSERT [dbo].[PartCategory] ([Id], [Name]) VALUES (1, N'Hydraulic')
INSERT [dbo].[PartCategory] ([Id], [Name]) VALUES (2, N'Electrical')
INSERT [dbo].[PartCategory] ([Id], [Name]) VALUES (3, N'Mechanical')
SET IDENTITY_INSERT [dbo].[PartStorage] ON 

INSERT [dbo].[PartStorage] ([Id], [PartId], [ZoneId], [Amount]) VALUES (1, 1, 4, 344)
INSERT [dbo].[PartStorage] ([Id], [PartId], [ZoneId], [Amount]) VALUES (2, 2, 5, 524)
INSERT [dbo].[PartStorage] ([Id], [PartId], [ZoneId], [Amount]) VALUES (3, 2, 10, 459)
GO
SET IDENTITY_INSERT [dbo].[PartStorage] OFF
INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Asset Administrator')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Warehouse Supervisor')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Transportation Administrator')
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [Gender], [Telephone], [Email], [Password], [RoleId], [Photo]) VALUES (1, N'Lebbie', N'Mumm', N'F', N'17361677769', N'lmumm0@live.com', N'100000', 1, N'1.jpg')
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [Gender], [Telephone], [Email], [Password], [RoleId], [Photo]) VALUES (2, N'Domini', N'Gluyas', N'F', N'18712267907', N'dgluyas1@miitbeian.gov.cn', N'123456', 1, N'2.jpg')
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [Gender], [Telephone], [Email], [Password], [RoleId], [Photo]) VALUES (3, N'Jannel', N'Hancell', N'F', N'15737919202', N'jhancell2@simplemachines.org', N'100000', 1, N'3.jpg')
GO
SET IDENTITY_INSERT [dbo].[TaskDetail] ON 

INSERT [dbo].[TaskDetail] ([Id], [TaskId], [PartId], [StockAmount], [CheckAmount], [IsChecked]) VALUES (1, 1, 1, 15, 12, 1)
INSERT [dbo].[TaskDetail] ([Id], [TaskId], [PartId], [StockAmount], [CheckAmount], [IsChecked]) VALUES (2, 1, 4, 50, 50, 1)
INSERT [dbo].[TaskDetail] ([Id], [TaskId], [PartId], [StockAmount], [CheckAmount], [IsChecked]) VALUES (3, 1, 5, 42, 42, 1)
GO
SET IDENTITY_INSERT [dbo].[TaskDetail] OFF
INSERT [dbo].[TaskStatus] ([Id], [Name]) VALUES (1, N'NoStart')
INSERT [dbo].[TaskStatus] ([Id], [Name]) VALUES (2, N'Ongoing')
INSERT [dbo].[TaskStatus] ([Id], [Name]) VALUES (3, N'Finished')
INSERT [dbo].[TaskType] ([Id], [Name]) VALUES (1, N'Whole Warehouse')
INSERT [dbo].[TaskType] ([Id], [Name]) VALUES (2, N'Portion Warehouse')
INSERT [dbo].[Warehouse] ([Id], [Name], [Address], [Phone], [Manager], [Area]) VALUES (1, N'Spring Warehouse', N'Alazzo Venier dei Leoni 701 Dorsoduro 30123', N'202-439-6609', 11, 3000)
INSERT [dbo].[Warehouse] ([Id], [Name], [Address], [Phone], [Manager], [Area]) VALUES (2, N'Speed Warehouse', N'Sterling Memorial Library Yale University 130 Wall Street', N'475-105-7986', 12, 3000)
INSERT [dbo].[Warehouse] ([Id], [Name], [Address], [Phone], [Manager], [Area]) VALUES (3, N'Fareast Warehouse', N'1000 Fifth Avenue New York, NY 10028Human Resources Department', N'216-555-9530', 13, 3000)
INSERT [dbo].[Zone] ([Id], [Name], [WarehouseId], [UpperLeftX], [UpperLeftY], [Width], [Height]) VALUES (1, N'A', 1, 0, 0, 1500, 500)
INSERT [dbo].[Zone] ([Id], [Name], [WarehouseId], [UpperLeftX], [UpperLeftY], [Width], [Height]) VALUES (2, N'B', 1, 0, 500, 1500, 500)
INSERT [dbo].[Zone] ([Id], [Name], [WarehouseId], [UpperLeftX], [UpperLeftY], [Width], [Height]) VALUES (3, N'C', 1, 0, 1000, 1500, 500)
ALTER TABLE [dbo].[InventoryCheckingTask]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPlan_InventoryPlanStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[TaskStatus] ([Id])
GO
ALTER TABLE [dbo].[InventoryCheckingTask] CHECK CONSTRAINT [FK_InventoryPlan_InventoryPlanStatus]
GO
ALTER TABLE [dbo].[InventoryCheckingTask]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPlan_PlanType] FOREIGN KEY([TaskTypeId])
REFERENCES [dbo].[TaskType] ([Id])
GO
ALTER TABLE [dbo].[InventoryCheckingTask] CHECK CONSTRAINT [FK_InventoryPlan_PlanType]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_PartCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[PartCategory] ([Id])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_PartCategory]
GO
ALTER TABLE [dbo].[PartStorage]  WITH CHECK ADD  CONSTRAINT [FK_PartStorage_Part] FOREIGN KEY([PartId])
REFERENCES [dbo].[Part] ([Id])
GO
ALTER TABLE [dbo].[PartStorage] CHECK CONSTRAINT [FK_PartStorage_Part]
GO
ALTER TABLE [dbo].[PartStorage]  WITH CHECK ADD  CONSTRAINT [FK_PartStorage_Zone] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[Zone] ([Id])
GO
ALTER TABLE [dbo].[PartStorage] CHECK CONSTRAINT [FK_PartStorage_Zone]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Role]
GO
ALTER TABLE [dbo].[TaskDetail]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPlanDetail_InventoryPlan] FOREIGN KEY([TaskId])
REFERENCES [dbo].[InventoryCheckingTask] ([Id])
GO
ALTER TABLE [dbo].[TaskDetail] CHECK CONSTRAINT [FK_InventoryPlanDetail_InventoryPlan]
GO
ALTER TABLE [dbo].[TaskDetail]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPlanDetail_Part] FOREIGN KEY([PartId])
REFERENCES [dbo].[Part] ([Id])
GO
ALTER TABLE [dbo].[TaskDetail] CHECK CONSTRAINT [FK_InventoryPlanDetail_Part]
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Staff] FOREIGN KEY([Manager])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [FK_Warehouse_Staff]
GO
ALTER TABLE [dbo].[Zone]  WITH CHECK ADD  CONSTRAINT [FK_Zone_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([Id])
GO
ALTER TABLE [dbo].[Zone] CHECK CONSTRAINT [FK_Zone_Warehouse]
GO
