<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		
		<target xsi:type="ColoredConsole" name="coloredConsole">
			<layout xsi:type="SimpleLayout" text="${longdate} | ${uppercase:${level}} | ${logger} | ${message} | ${exception:format=ToString} | ${callsite} | ${callsite-linenumber}" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Cyan" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" backgroundColor="Red" foregroundColor="White" />
		</target>
	
		<target xsi:type="AsyncWrapper" name="asyncFile" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
			        name="jsonFile"
			        fileName="logs/logfile-${shortdate}.json"
			        archiveFileName="logs/archives/logfile-{#}.json"
			        archiveNumbering="Rolling"
			        maxArchiveFiles="10"
			        archiveAboveSize="10MB"
			        encoding="utf-8"
			        concurrentWrites="true"
			        keepFileOpen="false">
        
				<layout xsi:type="JsonLayout">
					<attribute name="time" layout="${date}" />
					<attribute name="level" layout="${level:upperCase=true}" />
					<attribute name="class" layout="${logger}" />
					<attribute name="message" layout="${message}" />
					<attribute name="exception" layout="${replace:searchFor=\:replaceWith=,:inner=${exception:format=ToString,Data}}" />
					<attribute name="threadId" layout="${threadid}" />
					<attribute name="threadName" layout="${threadname}" />
					<attribute name="processId" layout="${processid}" />
					<attribute name="processName" layout="${processname}" />
					<attribute name="callSite" layout="${callsite}" />
					<attribute name="callSiteLineNumber" layout="${callsite-linenumber}" />
					<attribute name="stacktrace" layout="${stacktrace}" />
				</layout>
			</target>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="System.*" minlevel="Trace" final="true" />

		<logger name="*" minlevel="Error" writeTo="jsonFile" />
		<logger name="*" minlevel="Trace"  writeTo="coloredConsole" />
	</rules>
</nlog>